body{
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background-color: rgb(21, 32, 43);
  width: 800px;
  margin: auto;
  text-align: center;
}
.bookForm{
  border: 1px solid black;
  visibility: visible;
  margin: 10px 10px;
  padding: 10px 10px;
}
.close{
  color: white;
}
h1{
  text-align: center;
  margin-bottom: 20px;
}
h4{
  margin: 20px auto;
}
button.btn.btn-info{
  margin: auto;
  display: block;
}
input[type="text"], textarea {

  background-color : rgb(21, 32, 43);

}
input[type="text"]:focus {
  color: white;
  background-color : rgb(21, 32, 43);

}

input[type="text"] {
  border: thin solid gray;
  width: 100%;
}

.read:hover{
  cursor: pointer;
}